{% extends "base.html" %}
{% block body %}

<header class="row w-100 m-auto ">
    <h1>the header</h1>
</header>
<div class="row d-flex justify-content-between">
    <div class="card col-4 m-3">card with some text...</div>
    <div class="card col-4 m-3">card with some text...</div>
    <div class="card col-4 m-3">card with some text...</div>
    <div class="card col-4 m-3">card with some text...</div>
<footer class="row position-absolute bottom-0">
    footer with some info
</footer>
{% endblock body %}